name: "Update dependencies"
on:
  schedule:
    - cron: '0 0 * * 0'
jobs:
  update-dependencies:
    runs-on: "ubuntu-latest"
    permissions:
      contents: write
    steps:
      - name: "Checkout"
        uses: "actions/checkout@v5"
      - name: "Update dependencies"
        uses: "pdm-project/update-deps-action@v1"
        with:
          commit-message: "Update pdm.lock"
          pr-title: "Update pdm.lock"
